<div class="container-fluid">
  <div *ngIf="messages.length">
    <button (click)="CleanAll()">Clean All Notifications</button>
    <div style="padding: 2px"></div>
  </div>

  <div
    *ngIf="
      currentHubConnectionState == hubConnectionState.Connected ||
      currentHubConnectionState == hubConnectionState.Connecting
    "
  >
    <button (click)="stopConnection()">Stop Connection</button>
    <div style="padding: 2px"></div>
  </div>

  <div
    *ngIf="
      currentHubConnectionState != hubConnectionState.Connected &&
      currentHubConnectionState != hubConnectionState.Connecting
    "
  >
    <button (click)="reconnect()">Try Reconnect</button>
    <div style="padding: 2px"></div>
  </div>

  <div>Connection Status : {{ currentHubConnectionState }}</div>
  <div style="padding: 2px"></div>

  Message Count : {{ messages ? messages.length : 0 }}
  <div style="padding: 2px"></div>

  <div *ngIf="!connectionPossible">
    Could not connect.
    <div style="padding: 2px"></div>
  </div>

  <div class="row" *ngIf="messages.length > 0">
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let message of messages; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ message.title }}</td>
            <td>{{ message.content }}</td>
            <td (click)="CleanAll(message.id)" style="cursor: pointer">
              <strong>X</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="messages.length <= 0">
    <span>No messages</span>
  </div>
</div>
