.container {
  margin-top: 5rem;
  max-width: 800px;
}

.card {
  border-radius: 15px;
}

.card-header {
  border-bottom: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.form-check-input:checked+.form-check-label {
  color: #007bff;
}

.form-check-input:focus {
  outline: none;
}

.form-check-input:checked:focus {
  box-shadow: none;
}